<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header navbar-brand">
          Мероприятия
        </div>
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'profile' %}">Профиль</a></li>
              <li><a href="{% url 'invite' %}">Создать приглашение</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/admin/logout"><span class="glyphicon glyphicon-user"></span> Выйти</a></li>
              <li><a href="/admin/"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
            </ul>
          {% endif %}
      </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>