<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block opengraph %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% if request.resolver_match.url_name != 'show_invitation' %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Мероприятия</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'dashboard' %}">Панель управления</a></li>
                        <li><a href="{% url 'invite' %}">Создать приглашение</a></li>
                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span> Выйти</a></li>
                    <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-log-in"></span> Управление</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>