{% extends 'events/base.html' %}
{% load staticfiles %}
{% load l10n %}
{% block title %}
    Приглашение
{% endblock %}
{% block content %}
    <div class="content inv-content">
        <h2>Приглашение</h2>
         <img src="/media/images/{{ event.image }}" style="margin-bottom: 15px;" class="img-thumbnail inv-image" alt="фото {{ event.name }}">
        <div class="list-group inv-list" style="text-align: left;">
            <p href="#" class="list-group-item list-group-item-success">Мероприятие: {{ event.name }}</p>
            <p href="#" class="list-group-item list-group-item-info">Дата: {{ event.dtm|date:'H:i, d E Y' }}</p>
            <p href="#" class="list-group-item list-group-item-info">
                Адрес: <a href="http://maps.apple.com/?ll={{event.lat|unlocalize}},{{event.lon|unlocalize}}&z={16}#&q={{event.lat|unlocalize}},{{event.lon|unlocalize}}">
                            {{ event.address }}
                        </a>
            </p>
            <p href="#" class="list-group-item list-group-item-info">Описание: {{ event.description }}</p>
            <p href="#" class="list-group-item list-group-item-info">Создатель: {{ event.creator }}</p>
            <p href="#" class="list-group-item list-group-item-info">Получатель: {{ invitation.recipient }}</p>
            <p href="#" class="list-group-item list-group-item-info">Количество: {{ invitation.count }}</p>
            <p href="#" class="list-group-item list-group-item-danger">Крайний срок: {{ event.deadline|date:'H:i, d E Y' }}</p>
        </div>

        <span class="addtocalendar atc-style-blue" data-calendars="iCalendar, Google Calendar" data-secure="auto">
                    <a class="atcb-link">Добавить в календарь</a>
                    <var class="atc_event" style="display:none;">
                        <var class="atc_date_start">{{ event.dtm|date:'Y-m-d H:i:s' }}</var>
                        <var class="atc_date_end">{{ event.dtm|date:'Y-m-d H:i:s' }}</var>
                        <var class="atc_timezone">Europe/Moscow</var>
                        <var class="atc_title">{{ event.name }}</var>
                        <var class="atc_description">{{ event.description }}</var>
                        <var class="atc_location">{{ event.address }}</var>
                        <var class="atc_organizer">{{ event.creator }}</var>
                        <var class="atc_organizer_email"></var>
                    </var>
        </span>

        <form class="form-inline" align="left" style="padding: 20px 0 20px 0;" method="POST" action="{% url 'api_change_decision' %}">
            {% csrf_token %}
            <input type="hidden" name="key" value="{{ invitation.key }}">
            <input type="hidden" name="id" value="{{ invitation.id }}">
            <div class="form-group">
                <button type="submit" value="no" name="decision" class="btn" id="no">Точно не иду</button>
            </div>
            <div class="form-group">
                <button type="submit" value="yes" name="decision" class="btn" id="yes">Иду</button>
            </div>
        </form>



        <div id="map" class="map-container"></div>

        <script>
            function myMap() {
              var myCenter = new google.maps.LatLng({{event.lat|unlocalize}},{{event.lon|unlocalize}});
              var mapCanvas = document.getElementById("map");
              var mapOptions = {center: myCenter, zoom: 17};
              var map = new google.maps.Map(mapCanvas, mapOptions);
              var marker = new google.maps.Marker({position:myCenter});
              marker.setMap(map);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuTTIyFhRVh6Ts0EtUlhHJyObUfSC9Tm0&callback=myMap"></script>

        <script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
        </script>

        <script type="text/javascript">
            $(function(){
                if ('{{decision}}' == 'True') {
                    $('#yes').addClass('btn-primary');
                    $("#yes").attr( "disabled", "disabled" );
                } else {
                    $('#no').addClass('btn-primary');
                    $("#no").attr( "disabled", "disabled" );
                }

            });
        </script>
    </div>
{% endblock %}