{% extends 'events/base.html' %}
{% load staticfiles %}
{% load l10n %}
{% block title %}
    Приглашение
{% endblock %}
{% block content %}
    <div class="content">
            <div>
                <h1>Просмотр приглашения</h1>
            </div>
        <table class="table table-striped">
        <tbody>
            <tr>
                <td>Мероприятие: </td>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <td>Дата: </td>
                <td>{{ event.dtm }}</td>
            </tr>
            <tr>
                <td>Описание: </td>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <td>Создатель: </td>
                <td>{{ event.creator }}</td>
            </tr>
            <tr>
                <td>Фото: </td>
                <td> <img style="max-height:500px; max-width:500px; height:auto; width:auto;"
                                    src="/{{ event.image }}"
                    >
                </td>
            </tr>
            <tr>
                <td>Получатель: </td>
                <td>{{ invitation.recipient }}</td>
            </tr>
            <tr>
                <td>Количество: </td>
                <td>{{ invitation.count }}</td>
            </tr>
            <tr>
                <td>Крайний срок: </td>
                <td>{{ event.deadline }}</td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <form class="form-inline" method="POST" action="/api/invitations/decision">
                        {% csrf_token %}
                        <input type="hidden" name="key" value="{{ invitation.key }}">
                        <input type="hidden" name="id" value="{{ invitation.id }}">
                        <div class="form-group">
                            <button type="submit" value="no" name="decision" {{ false.1 }} {{deadline}} class="btn {{ false.0 }} {{deadline}}" id="no">
                                Точно не иду
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="yes" name="decision" {{ true.1 }} {{deadline}} class="btn {{ true.0 }} {{deadline}}" id="yes">
                                Иду
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
        <div id="map" class="map-container"></div>

        <script>
            function myMap() {
              var myCenter = new google.maps.LatLng({{event.lat|unlocalize}},{{event.lon|unlocalize}});
              var mapCanvas = document.getElementById("map");
              var mapOptions = {center: myCenter, zoom: 15};
              var map = new google.maps.Map(mapCanvas, mapOptions);
              var marker = new google.maps.Marker({position:myCenter});
              marker.setMap(map);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuTTIyFhRVh6Ts0EtUlhHJyObUfSC9Tm0&callback=myMap"></script>
    </div>
{% endblock %}