{% extends 'events/base.html' %}
{% load staticfiles %}
{% block title %}
    Создать приглашение
{% endblock %}
{% if user.is_authenticated %}
    {% block content %}
        <script src="{% static 'admin.js' %}"></script>
        <div class="content">
            <div>
                <h1>Генерация приглашений</h1>
            </div>
            <form class="form-inline inv-form" method="POST" action="{% url 'api_add_invite' %}">
                {% csrf_token %}
                <label class="mr-sm-2" for="inlineFormCustomSelect">Мероприятие</label>
                <select name="event" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                    <option selected>
                        {% if events|length == 1 %}
                            {{ events.0.name }}
                            <input type="hidden" name="event" value="{{ events.0.id }}">

                        {% else %} ...
                            {% for e in events %}
                                <option value="{{ e.id }}" name="event">{{ e.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </option>
                </select>

                <input class="form-control" type="number" maxlength="2" name="count"
                       id="number-input" placeholder="Количество">

                <button type="button" class="btn btn-primary" id="generate">Сгенерировать</button>
                <div class="invitations"></div>



                <button type="submit" style="display:none;" class="btn btn-primary" id="submit">Отправить</button>
            </form>
        </div>
    {% endblock %}
{% endif %}