{% extends 'events/base.html' %}
{% load staticfiles %}
{% block title %}
    Invitation
{% endblock %}
{% block content %}
    <div class="content">
            <div>
                <h1><a>Просмотр приглашения</a></h1>
            </div>
        <table class="table table-striped">
        <tbody>
            <tr>
                <td>Event: </td>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <td>Date info: </td>
                <td>{{ event.dtm }}</td>
            </tr>
            <tr>
                <td>Description: </td>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <td>Creator: </td>
                <td>{{ event.creator }}</td>
            </tr>
            <tr>
                <td>Image: </td>
                <td> <img style="max-height:500px; max-width:500px; height:auto; width:auto;"
                                    src="/static/{{ event.image }}"
                    >
                </td>
            </tr>
            <tr>
                <td>Recipient: </td>
                <td>{{ invitation.recipient }}</td>
            </tr>
            <tr>
                <td>Count: </td>
                <td>{{ invitation.count }}</td>
            </tr>
            <tr>
                <td>Deadline: </td>
                <td>{{ event.deadline }}</td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <form class="form-inline" method="POST" action="/api/invitations/decision">
                        {% csrf_token %}
                        <input type="hidden" name="key" value="{{ invitation.key }}">
                        <input type="hidden" name="id" value="{{ invitation.id }}">
                        <div class="form-group">
                            <button type="submit" value="no" name="decision" {{deadline}} class="btn {{ false }} {{deadline}}" id="no">
                                You are not attending
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="yes" name="decision" {{deadline}} class="btn {{ true }} {{deadline}}" id="yes">
                                I'll be there
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
        <div id="map" class="map-container"></div>

        <script>
            function myMap() {
              var myCenter = new google.maps.LatLng({{event.lat}},{{event.lon}});
              var mapCanvas = document.getElementById("map");
              var mapOptions = {center: myCenter, zoom: 5};
              var map = new google.maps.Map(mapCanvas, mapOptions);
              var marker = new google.maps.Marker({position:myCenter});
              marker.setMap(map);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuTTIyFhRVh6Ts0EtUlhHJyObUfSC9Tm0&callback=myMap"></script>
    </div>
{% endblock %}