{% extends 'events/base.html' %}
{% load staticfiles %}
{% block title %}
    Create invitations
{% endblock %}
{% if user.is_authenticated %}
    {% block content %}
        <script src="{% static 'admin.js' %}"></script>
        <div class="content">
            <div>
                <h1><a>Генерация приглашений</a></h1>
            </div>
            <form class="form-inline" method="POST" action="/api/invitations/add">
                {% csrf_token %}
                <label class="mr-sm-2" for="inlineFormCustomSelect">Выберите мероприятие</label>
                <select name="event" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    {% for e in events %}
                        <option value="{{ e.id }}">{{ e.name }}</option>
                    {% endfor %}
                </select>

                <label for="number-input" class="col-2 col-form-label">Number</label>
                <input class="form-control" type="text" value="1" maxlength="2" name="count" id="number-input">

                <button type="button" class="btn btn-primary" id="generate">generate</button>
                <div class="invitations"></div>



                <button type="submit" class="btn btn-primary" id="submit">submit</button>
            </form>
        </div>
    {% endblock %}
{% endif %}