{% extends 'events/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="page-header" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
            <h1><a href="/">Просмотр отправляемых приглашений</a></h1>
        </div>
        <div class="content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Recipient</th>
                            <th>Key</th>
                            <th>Count</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                      <tbody>
                        {% for i in invitations %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <td>{{ i.recipient }}</td>
                                <td>{{ i.key }}</td>
                                <form class="form" method="POST" action="/api/invitations/edit/{{i.id}}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ i.id }}">
                                    <td width="200px">
                                        <input class="form-control"
                                               value="{{ i.count }}" name="count"
                                               id="number-{{ i.id }}">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary" id="submit">submit</button>
                                    </td>
                                </form>
                                <form class="form" method="POST" action="/api/invitations/delete/{{i.id}}">
                                    {% csrf_token %}
                                    <td>
                                        <button type="submit" value="{{ i.id }}" name="id" class="btn btn-primary" id="delete">
                                            delete
                                        </button>
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                      </tbody>
                </table>
        </div>
    {% endif %}
{% endblock %}