{% extends 'events/base.html' %}
{% block title %}
    Профиль
{% endblock %}
{% if user.is_authenticated %}
    {% block content %}
        <div class="content">
            <div>
                <h1>Просмотр отправляемых приглашений</h1>
                <label class="mr-sm-2" for="event_selector">Выберите мероприятие</label>
                <select name="event" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="event_selector">
                    <option value="All">Все</option>
                    {% for e in events %}
                        <option {% if filter_by_event == e.id %} selected {% endif %} value="{{ e.id }}">{{ e.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary" id="filter">фильтр</button>
            </div>
            {% if not empty_invitations %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Мероприятие</th>
                            <th>Получатель</th>
                            <th>Ссылка</th>
                            <th>Количество</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                      <tbody>
                        {% for i in invitations %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <td>{{ i.event }}</td>
                                <td>{{ i.recipient }}</td>
                                <td>
                                    <a href="{% url 'invitation' i.key %}">{{ domain_port }}{% url 'invitation' i.key %}</a>
                                </td>
                                <form class="form" method="POST" action="/api/invitations/edit/{{i.id}}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ i.id }}">
                                    <td width="200px">
                                        <input class="form-control"
                                               value="{{ i.count }}" name="count"
                                               id="number-{{ i.id }}">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary" id="submit">изменить</button>
                                    </td>
                                </form>
                                <form class="form" method="POST" action="/api/invitations/delete/{{i.id}}">
                                    {% csrf_token %}
                                    <td>
                                        <button type="submit" value="{{ i.id }}" name="id" class="btn btn-danger" id="delete">
                                            удалить
                                        </button>
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                      </tbody>
                </table>
            {% else %}
                <h3>Приглашений не найдено</h3>
            {% endif %}
        </div>

        <script>
            $('#filter').click(function() {
                window.location.href = '/profile?filter_by_event=' + $('#event_selector').val();
            });
        </script>
    {% endblock %}
{% endif %}